@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  list-style: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

*:not(:defined) {
  display: none;
}

::selection {
  background: none;
}

/* 添加背景动画 */
body {
  height: 100vh;
  /* background: url("https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg") center center; */
  /* background-size: 400px; */
  font-family: 'Nunito', 'Roboto', sans-serif;
  font-weight: 300;
  /* animation: moveBackground 60s linear infinite; */
  overflow: hidden;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover; /* 填充模式 */
  background-size: cover;
}

/* @keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
} */
